p {
  color: #F4EBDA;
  align-items: center;
  text-align: center;
  font-family: 'flames-regular'

}

body {
  background-color: #f5ebdc;

}

.flex-main {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #512212;
  width: 700px;
  font-weight: bolder;
  margin: 0 auto;
  font-size: 22px;


}

.flex-main>div:hover {
  color: #DB1E01;


}

.flex-main>div {

  margin-top: 10px;

}

.mainlogo {
  width: 55px;
  height: 56px;
}



#maindivmenu {

  height: 115px;
  background-color: #DB1E01;
}

.flex-mainmenuimages {
  flex-wrap: wrap;

  margin: 0 auto;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: transform 0.3s ease;


}


.flex-mainmenuimages>div:hover {
  transform: scale(1.2);
}

.sectionTitle {
  color: #512212;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  margin: 0;
}




#chichen {
  width: 99.56px;
  height: 57.74px;
}

#kingjr {
  width: 121.95px;
  height: 57.74px;

}

#pepsi {
  width: 27.88px;
  height: 57.74px;
}

.desertandcoffee {
  width: 42.33px;
  height: 57.74px;
}



.specialmainimages {
  display: flex;
  width: 40px;
}


.flex-mainmenuimages>div {
  color: #f5ebdc;
  font-size: 17px;
  font-weight: bolder;

  margin: 8.625px 8.42188px;

}

.flex-mainmenuimages div:nth-child(3) .move-text {
  margin-left: 30px;
}

.flex-mainmenuimages div:nth-child(6) .move-text {
  margin-left: 25px;
}

.flex-mainmenuimages div:nth-child(7) .move-text {
  margin-left: -15px;
}


.flex-mainmenuimages div:nth-child(5) .move-text {
  margin-left: 14px;
}

.flameandsidesanddelightandsalad {

  width: 101.14px;
  height: 57.74px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}











.flex-container2 {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
  width: 100%;
}

.flex-item {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  color: #512212;
  font-size: 30px;
  font-weight: bolder;
  transition: transform 0.3s ease;

}

.flex-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-row .flex-item {
  flex-basis: calc(30% - 20px);
  margin: 10px;
  text-align: center;
}

.flex-item p {
  margin-top: 10px;
}

.flex-item:hover {
  transform: scale(1.2);
}

#footid {
  background-color: #502213;
  height: 480px;
  margin-bottom: -1px;
  margin-top: -30px;
  display: block;
  font-size: 25px;
  font-family: 'flames-regular'
}

#pid {
  color: #F4EBDA;
  align-items: center;
  text-align: center;
  font-family: 'flames-regular'
}

.table-container {
  display: flex;
  justify-content: center;

  align-items: center;
}

#tableid {
  display: flex;

  color: #F4EBDA;
  justify-content: center;
  border: 2px solid;
  align-items: center;
  text-align: center;

}

#bkinfo {
  margin-left: 550px;
  margin-top: -20px;
  color: #F4EBDA;
  font-family: 'flames-regular';
  font-size: 25px;
  font-weight: bolder;
  margin-left: -45px;
}

#ourproducts {
  margin-left: -800px;
  margin-top: -55px;
  color: #F4EBDA;
  font-family: 'flames-regular';
  font-size: 25px;
  font-weight: bolder;
}

#footershape {
  width: 2230px;
}